html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

 /* @media (min-width:1320px) and (max-width:1365px) {
    .pagetopskin {
        width: 986px !important;
        margin-left: -493px !important;
        iframe {
            width: 1986px !important;
        }
    }
    .bodyleft {
        margin-left: -653px !important;
    }
    .bodyright {
        margin-left: 493px !important;
    }
}

   @media (min-width:1366px) {
    .container {
        width: 980px !important;
    }
    .pagetopskin {
        width: 976px !important;
        margin-left: -493px !important;
      
    }
  
    .bodyleft {
        margin-left: -673px !important;
    }
    .bodyright {
        margin-left: 513px !important;
    }
}

@media (max-width: 1024px) {
    // body{display: none !important}
} */
@media (min-width: 1281px) and (max-width: 1599px) {
  .pagetopskin {
    width: 1000px !important;
    margin-left: -500px !important; }
    .pagetopskin iframe, .pagetopskin img {
      width: 1000px !important; }

  .bodyleft {
    margin-left: -658px !important; }

  .bodyright {
    margin-left: 498px !important; } }
body {
  font-family: 'PT Sans', sans-serif, arial;
  font-size: 1rem;
  overflow-x: hidden; }

a {
  text-decoration: none;
  color: #232323; }

.row {
  width: 100%;
  height: 3200px; }

.fl, .container .logoarea .logo, .container .logoarea .logoyan, .container .logoarea .logobanner {
  float: left; }

.clear {
  clear: both; }

.fixed, #sizetext {
  position: fixed;
  top: 0; }

#sizetext {
  right: 0;
  background-color: #fff;
  font-weight: 700;
  z-index: 9999; }

.pagetopskin {
  -webkit-transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
  position: absolute;
  width: 970px;
  left: 50%;
  top: 0;
  margin-left: -480px;
  display: block; }

.pagetop {
  width: 970px;
  margin: 0 auto 10px auto;
  display: block; }
  .pagetop .firma {
    width: 100%;
    margin: 0 auto; }
    .pagetop .firma img {
      width: 970px;
      height: 90px; }
    .pagetop .firma iframe {
      width: 970px;
      height: 90px; }
    .pagetop .firma .firmaikili {
      width: 970px;
      overflow: hidden; }
      .pagetop .firma .firmaikili a {
        display: block;
        float: left; }
        .pagetop .firma .firmaikili a img {
          width: 483px;
          height: 90px; }
        .pagetop .firma .firmaikili a:last-child {
          margin-left: 4px; }

.bodyleft {
  -webkit-transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1);
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -645px;
  display: block;
  width: 160px;
  background-color: #cccccc; }
  .bodyleft img {
    width: 160px; }

.bodyright {
  -webkit-transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1);
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: 485px;
  display: block;
  width: 160px;
  background-color: #cccccc; }
  .bodyright img {
    width: 160px; }

.container {
  -webkit-transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1);
  width: 970px;
  margin: 0 auto;
  background-color: #fff;
  height: 1933px;
  display: block; }
  .container .logoarea {
    width: 970px;
    overflow: hidden;
    background-color: #fff; }
    .container .logoarea .logo, .container .logoarea .logoyan, .container .logoarea .logobanner {
      overflow: hidden;
      display: block; }
    .container .logoarea .logo {
      width: 300px;
      height: 100px;
      display: block; }
      .container .logoarea .logo img {
        margin-top: 13px; }
    .container .logoarea .logoyan {
      width: 200px;
      height: 100px;
      margin-top: 20px; }
    .container .logoarea .logobanner {
      height: 60px;
      width: 468px;
      margin-top: 20px;
      margin-left: 2px; }
  .container nav {
    width: 100%;
    height: 40px;
    background-color: #f7f7f7;
    display: block; }
    .container nav ul {
      text-transform: uppercase; }
      .container nav ul li {
        float: left; }
        .container nav ul li:first-child > a {
          color: #55acee;
          border-left: none; }
        .container nav ul li a {
          -webkit-transition: all 75ms cubic-bezier(0.42, 0, 0.58, 1);
          -moz-transition: all 75ms cubic-bezier(0.42, 0, 0.58, 1);
          -o-transition: all 75ms cubic-bezier(0.42, 0, 0.58, 1);
          transition: all 75ms cubic-bezier(0.42, 0, 0.58, 1);
          font-size: 1rem;
          font-weight: 700;
          line-height: 40px;
          display: block;
          text-decoration: none;
          padding-left: 17px;
          padding-right: 17px;
          border-left: 1px solid #f1f1f1; }
          .container nav ul li a:hover {
            background-color: #e6e6e6; }
  .container .topslider {
    height: 310px;
    width: 970px;
    background-color: gray;
    margin: 20px 0 20px 0; }
  .container .topslideralt .topsldaltfirmalar {
    width: 970px;
    overflow: hidden; }
  .container .ortaikili {
    margin-top: 20px;
    margin-bottom: 20px; }
    .container .ortaikili .ikilisol {
      width: 477.5px;
      height: 270px;
      background-color: gray;
      float: left; }
    .container .ortaikili .ikilisag {
      width: 477.5px;
      height: 270px;
      background-color: gray;
      float: left;
      margin-left: 15px; }
  .container .dortlu .dortluhaber {
    position: relative;
    width: 231px;
    height: 131px;
    background-color: gray;
    float: left; }
    .container .dortlu .dortluhaber:nth-child(even) {
      margin-left: 15px; }
    .container .dortlu .dortluhaber:nth-child(3) {
      margin-left: 15px; }
    .container .dortlu .dortluhaber .haberbaslik {
      height: 20px;
      width: 100%;
      color: white; }

/********** Spor Sayfa */
.sporHeader {
  width: 970px;
  height: 50px;
  margin: 15px 0;
  background: #BB1014;
  position: relative;
  overflow: hidden; }
  .sporHeader h1 {
    color: #fff;
    font-size: 21px;
    padding: 15px;
    font-weight: 700;
    word-spacing: 1px;
    letter-spacing: -1px; }
  .sporHeader .arama {
    top: 0;
    right: 0;
    width: 250px;
    height: 50px;
    overflow: hidden;
    position: absolute;
    margin-right: -210px;
    -webkit-transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1); }
    .sporHeader .arama:hover {
      margin-right: 0; }
    .sporHeader .arama .aramaBtn {
      background-image: url("../img/webimg/arama.png");
      width: 30px;
      background-size: contain;
      height: 30px;
      margin: 10px 0;
      cursor: pointer;
      z-index: -1;
      float: left; }
    .sporHeader .arama .aramaInput input {
      height: 30px;
      border: none;
      background: #ddd;
      margin: 10px;
      padding: 0 0 0 5px;
      font-weight: 700; }
      .sporHeader .arama .aramaInput input:focus {
        box-shadow: 0 0 0 0 transparent;
        border: 1px solid #000; }
      .sporHeader .arama .aramaInput input:active {
        box-shadow: 0 0 0 0 transparent;
        border: 1px solid #000; }

.sporSlider {
  padding: 0;
  margin: 0;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px; }
  .sporSlider .sporSlide {
    border: 5px solid #333;
    width: 645px;
    height: 364px;
    overflow: hidden; }
    .sporSlider .sporSlide ul {
      height: 364px; }
      .sporSlider .sporSlide ul li {
        float: left;
        width: 645px;
        height: 364px; }
        .sporSlider .sporSlide ul li a img {
          width: 645px;
          height: 364px; }
  .sporSlider img {
    width: 645px;
    height: 364px; }
  .sporSlider .sporSliderIndicator {
    width: 645px;
    padding: 0;
    background: #333; }
    .sporSlider .sporSliderIndicator ul {
      background: #333;
      width: 655px;
      float: left; }
      .sporSlider .sporSliderIndicator ul li {
        border-left: 1px solid #a1a1a1;
        float: left;
        padding: 5px 31px; }
        .sporSlider .sporSliderIndicator ul li a {
          color: #fff;
          font-weight: 700; }
        .sporSlider .sporSliderIndicator ul li:first-child {
          border-left: 0px solid #a1a1a1; }
        .sporSlider .sporSliderIndicator ul li:hover {
          background: rgba(0, 0, 0, 0.4); }

.sliderYan .sliderYanReklam {
  padding: 0;
  margin: 0;
  float: left; }
  .sliderYan .sliderYanReklam a {
    padding: 0;
    margin: 0; }
    .sliderYan .sliderYanReklam a img {
      width: 300px;
      height: 250px; }
.sliderYan .sliderYanWidget {
  padding: 0;
  margin: 0;
  float: left;
  margin-top: 15px; }
  .sliderYan .sliderYanWidget a {
    padding: 0;
    margin: 0; }
    .sliderYan .sliderYanWidget a img {
      width: 300px;
      height: 132px; }

.sliderAltReklam {
  margin-top: 10px; }

.buyukHaberler {
  margin-top: 15px;
  width: 655px;
  float: left; }
  .buyukHaberler .haberKapsayici {
    position: relative;
    width: 320px;
    height: 180px;
    float: left;
    margin-bottom: 15px;
    overflow: hidden; }
    .buyukHaberler .haberKapsayici:hover > img {
      transform: scale(1.03); }
    .buyukHaberler .haberKapsayici:hover > .haberAciklama {
      bottom: 5px;
      transform: scale(1.04); }
    .buyukHaberler .haberKapsayici .haberOpacity {
      position: absolute;
      width: 320px;
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.5) 70%, black 100%);
      background: linear-gradient(top, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.5) 70%, black 100%);
      height: 180px;
      top: 0;
      left: 0;
      z-index: 5; }
    .buyukHaberler .haberKapsayici img {
      -webkit-transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1);
      -moz-transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1);
      -o-transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1);
      transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1);
      width: 320px;
      height: 180px; }
    .buyukHaberler .haberKapsayici .haberAciklama {
      -webkit-transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1);
      -moz-transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1);
      -o-transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1);
      transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1);
      position: absolute;
      z-index: 5;
      position: absolute;
      bottom: -25px;
      float: left;
      overflow: hidden; }
      .buyukHaberler .haberKapsayici .haberAciklama h2 {
        margin: 0 auto;
        width: 250px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 700;
        padding: 10px 5px;
        text-transform: capitalize;
        letter-spacing: 0.5px;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        text-shadow: 0px 0px 0px #000000;
        color: #fff; }
        .buyukHaberler .haberKapsayici .haberAciklama h2 a {
          color: #fff; }
      .buyukHaberler .haberKapsayici .haberAciklama p {
        margin: 0 auto;
        text-align: center;
        font-size: 14px;
        width: 300px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #ddd;
        padding: 5px 5px; }
        .buyukHaberler .haberKapsayici .haberAciklama p a {
          color: #ddd; }
    .buyukHaberler .haberKapsayici:not(:nth-child(2n-1)) {
      margin-left: 15px; }

.buyukHaberYaniPuanDurumu {
  width: 300px;
  height: 375px;
  float: left;
  margin-left: 13px;
  margin-top: 15px;
  border: 1px solid #ccc;
  overflow-y: scroll; }
  .buyukHaberYaniPuanDurumu::-webkit-scrollbar {
    color: #fff;
    width: 7px; }
  .buyukHaberYaniPuanDurumu::-webkit-scrollbar-track {
    color: #fff; }
  .buyukHaberYaniPuanDurumu::-webkit-scrollbar-thumb {
    color: #444;
    background: #444; }
  .buyukHaberYaniPuanDurumu img {
    width: 300px;
    height: 250px; }
  .buyukHaberYaniPuanDurumu h2 {
    padding: 5px 15px;
    font-size: 20px;
    font-weight: 700;
    color: #333; }
  .buyukHaberYaniPuanDurumu table {
    width: 100%; }
    .buyukHaberYaniPuanDurumu table tr {
      border: 1px solid #444;
      border-collapse: collapse; }
      .buyukHaberYaniPuanDurumu table tr:first-child {
        background: rgba(0, 0, 0, 0.4); }
      .buyukHaberYaniPuanDurumu table tr:hover:not(:first-child) {
        background: rgba(0, 0, 0, 0.1); }
    .buyukHaberYaniPuanDurumu table th {
      padding: 5px;
      border: 1px solid #ccc;
      border-collapse: collapse;
      font-size: 13px; }
      .buyukHaberYaniPuanDurumu table th:nth-child(n+5) {
        background: rgba(0, 0, 0, 0.4); }

.ucluHaber {
  width: 655px;
  float: left; }
  .ucluHaber .ucluHaberKapsayici {
    float: left;
    width: 208px;
    height: 170px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
    overflow: hidden; }
    .ucluHaber .ucluHaberKapsayici a:hover > h1 {
      -webkit-transition: all 75ms cubic-bezier(0.42, 0, 0.58, 1);
      -moz-transition: all 75ms cubic-bezier(0.42, 0, 0.58, 1);
      -o-transition: all 75ms cubic-bezier(0.42, 0, 0.58, 1);
      transition: all 75ms cubic-bezier(0.42, 0, 0.58, 1);
      color: #BB1014; }
    .ucluHaber .ucluHaberKapsayici img {
      width: 208px;
      height: 117px; }
    .ucluHaber .ucluHaberKapsayici h1 {
      margin: 0;
      font-size: 18px;
      font-weight: 700;
      background: #fff;
      padding: 5px 0;
      height: 32px;
      text-align: left;
      display: -webkit-box;
      max-width: 100%;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .ucluHaber .ucluHaberKapsayici:not(:nth-child(3n-2)) {
      margin-left: 12px; }

.ucluHaberYani {
  width: 300px;
  height: 255px;
  margin-left: 15px;
  padding: 0;
  float: left; }
  .ucluHaberYani img {
    width: 300px;
    height: 255px; }

/*# sourceMappingURL=style.css.map */
