html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

 /* @media (min-width:1320px) and (max-width:1365px) {
    .pagetopskin {
        width: 986px !important;
        margin-left: -493px !important;
        iframe {
            width: 1986px !important;
        }
    }
    .bodyleft {
        margin-left: -653px !important;
    }
    .bodyright {
        margin-left: 493px !important;
    }
}

   @media (min-width:1366px) {
    .container {
        width: 980px !important;
    }
    .pagetopskin {
        width: 976px !important;
        margin-left: -493px !important;
      
    }
  
    .bodyleft {
        margin-left: -673px !important;
    }
    .bodyright {
        margin-left: 513px !important;
    }
}

@media (max-width: 1024px) {
    // body{display: none !important}
} */
@media (min-width: 1281px) and (max-width: 1599px) {
  .pagetopskin {
    width: 1000px !important;
    margin-left: -500px !important; }
    .pagetopskin iframe, .pagetopskin img {
      width: 1000px !important; }

  .bodyleft {
    margin-left: -658px !important; }

  .bodyright {
    margin-left: 498px !important; } }
body {
  font-family: 'PT Sans', sans-serif, arial;
  font-size: 1rem;
  overflow-x: hidden; }

a {
  text-decoration: none;
  color: #232323; }

.row {
  width: 100%;
  height: 3200px; }

.fl, .container .logoarea .logo, .container .logoarea .logoyan, .container .logoarea .logobanner {
  float: left; }

.fixed, #sizetext {
  position: fixed;
  top: 0; }

#sizetext {
  right: 0;
  background-color: #fff;
  font-weight: 700;
  z-index: 9999; }

.pagetopskin {
  -webkit-transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
  position: absolute;
  width: 970px;
  left: 50%;
  top: 0;
  margin-left: -480px;
  display: block; }

.pagetop {
  width: 970px;
  margin: 0 auto 10px auto;
  display: block; }
  .pagetop .firma {
    width: 100%;
    margin: 0 auto; }
    .pagetop .firma img {
      width: 970px;
      height: 90px; }
    .pagetop .firma iframe {
      width: 970px;
      height: 90px; }
    .pagetop .firma .firmaikili {
      width: 970px;
      overflow: hidden; }
      .pagetop .firma .firmaikili a {
        display: block;
        float: left; }
        .pagetop .firma .firmaikili a img {
          width: 483px;
          height: 90px; }
        .pagetop .firma .firmaikili a:last-child {
          margin-left: 4px; }

.bodyleft {
  -webkit-transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1);
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -645px;
  display: block;
  width: 160px;
  background-color: #cccccc; }
  .bodyleft img {
    width: 160px; }

.bodyright {
  -webkit-transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1);
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: 485px;
  display: block;
  width: 160px;
  background-color: #cccccc; }
  .bodyright img {
    width: 160px; }

.container {
  -webkit-transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1);
  width: 970px;
  margin: 0 auto;
  background-color: #d2d2d2;
  height: 1933px;
  display: block; }
  .container .logoarea {
    width: 970px;
    height: 300px;
    overflow: hidden;
    background-color: #fff; }
    .container .logoarea .logo, .container .logoarea .logoyan, .container .logoarea .logobanner {
      overflow: hidden;
      display: block; }
    .container .logoarea .logo {
      width: 300px;
      height: 100px;
      display: block;
      background-color: #fff; }
      .container .logoarea .logo img {
        margin-top: 13px; }
    .container .logoarea .logoyan {
      width: 200px;
      height: 100px;
      margin-top: 20px; }
    .container .logoarea .logobanner {
      height: 60px;
      width: 468px;
      margin-top: 20px; }
  .container nav ul {
    text-transform: uppercase; }
    .container nav ul li {
      float: left; }
      .container nav ul li a {
        font: 1rem #232323;
        text-decoration: none; }

/********** Spor Sayfa */
.sporSlider {
  padding: 0;
  margin: 0;
  float: left;
  margin-right: 15px; }
  .sporSlider img {
    width: 645px;
    height: 364px;
    border: 5px solid #12a73a; }

.sliderYan .sliderYanReklam {
  padding: 0;
  margin: 0;
  float: left; }
  .sliderYan .sliderYanReklam a {
    padding: 0;
    margin: 0; }
    .sliderYan .sliderYanReklam a img {
      width: 300px;
      height: 250px; }
.sliderYan .sliderYanWidget {
  padding: 0;
  margin: 0;
  float: left;
  margin-top: 15px; }
  .sliderYan .sliderYanWidget a {
    padding: 0;
    margin: 0; }
    .sliderYan .sliderYanWidget a img {
      width: 300px;
      height: 129px; }

/*# sourceMappingURL=style.css.map */
