html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@media (min-width: 1320px) and (max-width: 1365px) {
  .pagetopskin {
    width: 986px !important;
    margin-left: -493px !important; }
    .pagetopskin iframe {
      width: 1986px !important; }

  .bodyleft {
    margin-left: -653px !important; }

  .bodyright {
    margin-left: 493px !important; } }
@media (min-width: 1366px) {
  .container {
    width: 980px !important; }

  .pagetopskin {
    width: 976px !important;
    margin-left: -493px !important; }

  .bodyleft {
    margin-left: -673px !important; }

  .bodyright {
    margin-left: 513px !important; } }
body {
  font-family: 'PT Sans', sans-serif, arial;
  font-size: 1rem;
  overflow-x: hidden; }

.row {
  width: 100%;
  height: 3200px; }

.fixed, #sizetext {
  position: fixed;
  top: 0; }

#sizetext {
  right: 0;
  background-color: #fff;
  font-weight: 700;
  z-index: 9999; }

.container {
  -webkit-transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1);
  width: 960px;
  margin: 0 auto;
  background-color: #d2d2d2;
  height: 1933px;
  display: block; }

.pagetopskin {
  -webkit-transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
  position: absolute;
  width: 966px;
  left: 50%;
  top: 0;
  margin-left: -483px;
  display: block;
  height: 100px; }

.pagetop {
  width: 960px;
  margin: 0 auto 10px auto;
  display: block; }
  .pagetop .firma {
    width: 100%;
    margin: 0 auto; }
    .pagetop .firma img {
      width: 960px; }
    .pagetop .firma iframe {
      width: 960px; }
    .pagetop .firma .firmaikili {
      width: 960px;
      overflow: hidden; }
      .pagetop .firma .firmaikili a {
        display: block;
        float: left; }
        .pagetop .firma .firmaikili a img {
          width: 478px;
          height: 100px; }
        .pagetop .firma .firmaikili a:last-child {
          margin-left: 4px; }

.bodyleft {
  -webkit-transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1);
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -643px;
  display: block;
  width: 160px;
  background-color: #cccccc; }
  .bodyleft img {
    width: 160px; }

.bodyright {
  -webkit-transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1);
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: 483px;
  display: block;
  width: 160px;
  background-color: #cccccc; }
  .bodyright img {
    width: 160px; }

/*# sourceMappingURL=style.css.map */
