/********** Spor Sayfa */ ////
.sporHeader {
    width: 970px;
    height: 50px;
    margin: 15px 0;
    background: #BB1014;
    position: relative;
    overflow: hidden;
    border-top-right-radius: 25px;
    h1 {
        color: #fff;
        font-size: 21px;
        padding: 15px;
        font-weight: 700;
        word-spacing: 1px;
        letter-spacing: -1px;
        border-left: 5px solid #333;
    }
    .arama {
        top: 0;
        right: 0;
        width: 250px;
        height: 50px;
        overflow: hidden;
        position: absolute;
        margin-right: -210px;
        @include easing150;
        &:hover {
            margin-right: 0;
        }
        .aramaBtn {
            background-image: url('../img/webimg/arama.png');
            width: 30px;
            background-size: contain;
            height: 30px;
            margin: 10px 0;
            cursor: pointer;
            z-index: -1;
            float: left;
        }
        .aramaInput {
            input {
                height: 30px;
                border: none;
                background: #ddd;
                margin: 10px;
                padding: 0 0 0 5px;
                font-weight: 700;
                &:focus {
                    box-shadow: 0 0 0 0 transparent;
                    border: 1px solid #000;
                }
                &:active {
                    box-shadow: 0 0 0 0 transparent;
                    border: 1px solid #000;
                }
            }
        }
    }
}

.sliderUstReklam {
    width: 970px;
    height: 90px;
    margin-bottom: 15px;
}

.sporSlider {
    padding: 0;
    margin: 0;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    .sporSlide {
        border: 5px solid #333;
        position: relative;
        width: 645px;
        height: 364px;
        overflow: hidden;
        ul {
            height: 364px;
            li {
                position: relative;
                float: left;
                width: 645px;
                height: 364px;
                a {
                    img {
                        width: 645px;
                        height: 364px;
                    }
                    .sliderTitle {
                        width: 250px;
                        height: 250px;
                        position: absolute;
                        bottom: 20px;
                        left: 20px;
                        border-radius: 150px;
                        background-color: rgba(191, 38, 38, .7);
                        h1 {
                            color: white;
                            font-weight: 700;
                            width: 200px;
                            font-size: 25px;
                            margin: 100px 30px;
                            height: 53px;
                            text-align: left;
                            display: -webkit-box;
                            max-width: 100%;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                    .sliderTitle2 {
                        width: 400px;
                        height: 100px;
                        position: absolute;
                        bottom: 20px;
                        left: 20px;
                        background-color: rgba(0, 0, 0, .7);
                        h1 {
                            color: white;
                            font-weight: 700;
                            width: 350px;
                            font-size: 25px;
                            margin: 10px 20px;
                            height: 25px;
                            text-align: left;
                            display: -webkit-box;
                            max-width: 100%;
                            -webkit-line-clamp: 1;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        p {
                            color: #949494;
                            font-weight: 400;
                            display: block;
                            width: 350px;
                            font-size: 17px;
                            margin: 10px 20px;
                            height: 34px;
                            text-align: left;
                            display: -webkit-box;
                            max-width: 100%;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            word-wrap: break-word;
                            position: relative;
                            text-overflow: ellipsis
                        }
                    }
                    .sliderTitle3 {
                        width: 400px;
                        height: 100px;
                        position: absolute;
                        bottom: 50px;
                        left: 0px;
                        h1 {
                            color: white;
                            font-weight: 700;
                            width: 350px;
                            font-size: 25px;
                            margin: 10px 20px;
                            height: 30px;
                            line-height: 33px;
                            padding: 10px;
                            text-align: left;
                            display: -webkit-box;
                            max-width: 100%;
                            -webkit-line-clamp: 1;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            background-color: rgba(0, 0, 0, .7);
                        }
                        p {
                            color: darken(#fff, 20%);
                            font-weight: 400;
                            display: block;
                            width: 350px;
                            font-size: 17px;
                            margin: 10px 20px;
                            height: 50px;
                            padding: 10px;
                            text-align: left;
                            display: -webkit-box;
                            max-width: 100%;
                            -webkit-line-clamp: 3;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            word-wrap: break-word;
                            position: relative;
                            text-overflow: ellipsis;
                            background: rgba(191, 38, 38, .7);
                        }
                    }
                    .sliderTitle4 {
                        width: 400px;
                        height: 100px;
                        position: absolute;
                        bottom: 50px;
                        left: 0px;
                        h1 {
                            color: white;
                            font-weight: 700;
                            width: 350px;
                            font-size: 25px;
                            margin: 10px 20px 0;
                            height: 30px;
                            line-height: 33px;
                            padding: 10px;
                            text-align: left;
                            display: -webkit-box;
                            max-width: 100%;
                            -webkit-line-clamp: 1;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            background-color: rgba(51, 51, 51, 1);
                        }
                        p {
                            color: lighten(#000, 20%);
                            font-weight: 400;
                            display: block;
                            width: 450px;
                            font-size: 17px;
                            margin: 0 20px;
                            height: 44px;
                            padding: 10px;
                            text-align: left;
                            display: -webkit-box;
                            max-width: 100%;
                            -webkit-line-clamp: 3;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            word-wrap: break-word;
                            position: relative;
                            text-overflow: ellipsis;
                            background: rgba(255, 255, 255, .9);
                        }
                    }
                    .sliderTitle5 {
                        width: 650px;
                        height: 100px;
                        position: absolute;
                        bottom: 0px;
                        left: 0px;
                        background-color: rgba(0, 0, 0, .4);
                        h1 {
                            color: white;
                            font-weight: 700;
                            width: 650px;
                            font-size: 25px;
                            margin: 10px 20px;
                            height: 25px;
                            text-align: left;
                            display: -webkit-box;
                            max-width: 100%;
                            -webkit-line-clamp: 1;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        p {
                            color: #949494;
                            font-weight: 400;
                            display: block;
                            width: 650px;
                            font-size: 17px;
                            margin: 10px 20px;
                            height: 34px;
                            text-align: left;
                            display: -webkit-box;
                            max-width: 100%;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            word-wrap: break-word;
                            position: relative;
                            text-overflow: ellipsis
                        }
                    }
                    .sliderTitle6 {
                        width: 200px;
                        height: 200px;
                        position: absolute;
                        bottom: 20px;
                        left: 20px;
                        border-radius: 0px;
                        background-color: rgba(51, 51, 51, .8);
                        h1 {
                            color: white;
                            font-weight: 700;
                            width: 150px;
                            font-size: 21px;
                            margin: 71px 30px;
                            height: 70px;
                            text-align: left;
                            display: -webkit-box;
                            max-width: 100%;
                            -webkit-line-clamp: 3;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                }
            }
        }
    }
    img {
        width: 645px;
        height: 364px;
    }
    .sporSliderIndicator {
        width: 645px;
        padding: 0;
        background: #333;
        ul {
            background: #333;
            width: 655px;
            float: left;
            li {
                border-left: 1px solid #a1a1a1;
                float: left;
                padding: 5px 31px;
                a {
                    color: #fff;
                    font-weight: 700;
                }
                &:first-child {
                    border-left: 0px solid #a1a1a1;
                }
                &:hover {
                    background: rgba(0, 0, 0, .4);
                }
            }
        }
    }
}

.sliderYan {
    .sliderYanReklam {
        padding: 0;
        margin: 0;
        float: left;
        a {
            padding: 0;
            margin: 0;
            img {
                width: 300px;
                height: 250px;
            }
        }
    }
    .sliderYanWidget {
        padding: 0;
        margin: 0;
        float: left;
        margin-top: 15px;
        a {
            padding: 0;
            margin: 0;
            img {
                width: 300px;
                height: 132px;
            }
        }
    }
}

.sliderAltReklam {
    margin-top: 10px;
}

.buyukHaberler {
    margin-top: 15px;
    width: 655px;
    float: left;
    .haberKapsayici {
        position: relative;
        width: 320px;
        height: 180px;
        float: left;
        margin-bottom: 15px;
        overflow: hidden;
        &:hover > img {
            transform: scale(1.03);
        }
        &:hover > .haberAciklama {
            bottom: 5px;
            transform: scale(1.04);
        }
        .haberOpacity {
            position: absolute;
            width: 320px;
            background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.5) 70%, rgba(0, 0, 0, 1) 100%);
            background: linear-gradient(top, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.5) 70%, rgba(0, 0, 0, 1) 100%);
            background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.5) 70%, rgba(0, 0, 0, 1) 100%);
            background: -o-linear-gradient(top, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.5) 70%, rgba(0, 0, 0, 1) 100%);
            background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.5) 70%, rgba(0, 0, 0, 1) 100%);
            height: 180px;
            top: 0;
            left: 0;
            z-index: 5;
        }
        img {
            @include easing250;
            width: 320px;
            height: 180px;
        }
        .haberAciklama {
            @include easing250;
            position: absolute;
            z-index: 5;
            position: absolute;
            bottom: -25px;
            float: left;
            overflow: hidden;
            h2 {
                margin: 0 auto;
                width: 250px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-weight: 700;
                padding: 10px 5px;
                text-transform: capitalize;
                letter-spacing: 0.5px;
                font-size: 20px;
                font-weight: 700;
                text-align: center;
                text-shadow: 0px 0px 0px #000000;
                color: #fff;
                a {
                    color: #fff;
                }
            }
            p {
                margin: 0 auto;
                text-align: center;
                font-size: 14px;
                width: 300px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                color: #ddd;
                padding: 5px 5px;
                a {
                    color: #ddd;
                }
            }
        }
        &:not(:nth-child(2n-1)) {
            margin-left: 15px;
        }
    }
}

.buyukHaberYaniPuanDurumu {
    width: 300px;
    height: 375px;
    float: left;
    margin-left: 13px;
    margin-top: 15px;
    border: 1px solid #ccc;
    overflow: hidden;
    &::-webkit-scrollbar {
        color: #fff;
        width: 7px;
    }
    &::-webkit-scrollbar-track {
        color: #fff;
    }
    &::-webkit-scrollbar-thumb {
        color: #444;
        background: #444;
    }
    img {
        width: 300px;
        height: 250px;
    }
    h2 {
        padding: 5px 15px;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        background: #333;
        color: #fff;
        padding: 10px 5px;
    }
    table {
        background: #fff;
        width: 100%;
        tr {
            border-collapse: collapse;
            &:first-child {
                background: rgba(0, 0, 0, .4);
                font-weight: 700;
                border-bottom: 3px solid #444;
            }
            &:hover:not(:first-child) {
                background: rgba(0, 0, 0, .1);
            }
        }
        th {
            padding: 5px;
            border-collapse: collapse;
            font-size: 13px;
            &:nth-child(n+5) {
                background: rgba(0, 0, 0, .4);
            }
        }
    }
}

.ucluhaberUst {
    width: 970px;
    height: 90px;
    float: left;
    overflow: hidden;
    img {
        width: 970px;
        height: 90px;
    }
}

.uclu {
    float: left;
    width: 655px;
    .ucluHaber {
        width: 655px;
        float: left;
        margin-top: 15px;
        .ucluHaberKapsayici {
            float: left;
            width: 208px;
            height: 170px;
            border: 1px solid #ddd;
            box-shadow: 0 1px 3px rgba(50, 50, 50, .2);
            margin-bottom: 15px;
            overflow: hidden;
            a:hover > h1 {
                @include easing75;
                color: #BB1014;
            }
            img {
                width: 208px;
                height: 117px;
            }
            h1 {
                margin: 0;
                font-size: 18px;
                font-weight: 700;
                background: #fff;
                padding: 5px 2px;
                height: 30px;
                text-align: left;
                display: -webkit-box;
                max-width: 100%;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            &:not(:nth-child(3n-2)) {
                margin-left: 12px;
            }
        }
    }
    .ikiliGenis {
        width: 655px;
        .genisWrapper {
            margin-bottom: 15px;
            .genisResim {
                width: 320px;
                height: 180px;
                float: left;
                img {
                    width: 320px;
                    height: 180px;
                }
            }
            .genisAciklama {
                overflow: hidden;
                margin-left: 15px;
                width: 320px;
                height: 180px;
                float: left;
                h1 {
                    margin-top: 15px;
                    font-size: 20px;
                    font-weight: 700;
                }
                p {
                    margin: 10px 0;
                    color: #333;
                }
            }
        }
    }
}

.ucluHaberYani {
    width: 300px;
    height: 255px;
    margin-left: 15px;
    margin-top: 15px;
    padding: 0;
    float: left;
    img {
        width: 300px;
        height: 255px;
    }
    .haber264_spor {
        width: 300px;
        overflow: hidden;
        margin: 15px auto;
        max-width: 300px;
        border: 1px solid #a4a4a4;
        h1 {
            //border-top: 3px solid #333;
            background: #333;
            color: #fff;
            padding: 10px 5px;
            font-size: 20px;
            text-transform: uppercase;
            font-weight: 700;
        }
        .haber264_videos {
            width: 300px;
            position: relative;
            span {
                position: absolute;
                top: 88px;
                left: -59px;
                transform: rotate(-90deg);
                color: #333;
                font-size: 12px;
            }
            img {
                width: 300px;
                height: 170px;
                margin: 7.5px 0;
                img:first-child {
                    margin: -5px 0px;
                }
            }
        }
    }
    .sosyalmedya_spor {
        width: 300px;
        height: 200px;
        background: #f1f2f3;
        overflow: hidden;
        margin-bottom: 15px;
        table {
            width: 300px;
            height: 200px;
            tr {
                width: 301px;
                height: 98px;
                th {
                    position: relative;
                    width: 150px;
                    height: 98px;
                    i {
                        position: absolute;
                        font-size: 60px;
                        top: 20px;
                        left: 50px;
                        color: #d1d2d3;
                        @include easing150;
                        &:hover {
                            color: #999;
                        }
                    }
                    &:nth-child(2n-1) {
                        border-right: 1px solid #d1d2d3;
                    }
                }
                &:first-child {
                    border-bottom: 1px solid #d1d2d3;
                }
            }
        }
    }
    .yazarlar_spor {
        width: 300px;
        margin-bottom: 15px;
        overflow: hidden;
        height: 450px;
        h1 {
            position: relative;
            background: #BB1014;
            color: #fff;
            padding: 10px 5px;
            font-size: 20px;
            text-transform: uppercase;
            font-weight: 700;
            i{
                position: absolute;
                font-size: 15px;
                cursor:pointer;
            }
            i#next{
                top:15px;
                right: 20px;
            }
            i#prev{
                top:15px;
                right:40px;
            }
            .yazaractive{
                color:#333;
            }
        }
        ul {
            list-style-type: none;
            width: 300px;
            height: 420px;
            overflow: hidden;
            
            .yazi_spor {
                width: 300px;
                padding: 20px 0;
                height: 64px;
                background: #2f2f2f;
                position: relative;
                h2 {
                    width: 200px;
                    float: left;
                    padding: 1px 10px;
                    font-weight: 100;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    word-wrap: break-word;
                    line-height: 20px;
                    position: relative;
                    text-overflow: ellipsis;
                    height: 40px;
                    a {
                        font-weight: 700;
                        color: #fff;
                        @include easing150;
                        &:hover {
                            color: #BB1014;
                        }
                    }
                }
                span {
                    position: absolute;
                    bottom: 20px;
                    left: 10px;
                    font-size: 13px;
                    a {
                        color: #949494;
                    }
                }
                img {
                    width: 64px;
                    height: 64px;
                    float: left;
                    border-radius: 32px;
                }
                &:nth-child(odd) {
                    background: #363636;
                }
            }
        }
    }
}